<!DOCTYPE html>
<hhtml lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device=width, initial-sacale=1.0">
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
        <title>EnqueteWEB! :: Obrigado</title>
    </head>
    <body>
        <div class="container">
            <h1>EnqueteWEB!</h1>
            <h2>Obrigado por respoder!</h2>
            <p>
                <a asp-action="Index" class="btn btn-primary">Voltar ao Inicio</a>
                <a asp-action="Resultado" class="btn btn-primary">Ver Resultados Parciais</a>
            </p>
        </div>
    </body>
</hhtml>
