@model EnqueteWEB.Models.Resposta
<!DOCTYPE html>
<hhtml lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device=width, initial-sacale=1.0">
        <title>EnqueteWEB! :: Resposta</title>
    </head>
    <body>
        <h1>EnqueteWEB!</h1>
        <h2>Você teria coragem de fazer uma viagem sem volta pra Marte?</h2>
        <h4>Preencha os campos e marque sua resposta</h4>
        <form method="POST">
            <div>
                <label asp-for="Nome">Seu Nome:</label><br>
                <input asp-for="Nome">
            </div>

            <div>
                <label asp-for="Email">Seu E-mail:</label><br>
                <input asp-for="Email">
            </div>
            <div>
                Resposta:
                <div>
                    <input type="radio" id="rdSim" asp-for="Sim" value="true">
                    <label for="rdSim">Sim</label>
                </div>
                <div>
                    <input type="radio" id="rdNao" asp-for="Sim" value="false">
                    <label for="rdNao">Nao</label>
                </div>
            </div>
            <input type="submit" value="Enviar Resposta">

        </form>
        
    </body>
</hhtml>
