@model IEnumerable<Resposta>
<!DOCTYPE html>
<hhtml lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device=width, initial-sacale=1.0">
        <title>EnqueteWEB! :: Resultado Parcial</title>
    </head>
    <body>
        <h1>EnqueteWEB!</h1>
        <h2>Resultado Parcial!</h2>
        <h4>Voce teria coragem de fazer uma viagem sem volta pra Marte?</h4>
        @foreach(Resposta r in Model)
            {
                <p>@(r.Nome):@(r.Sim.Value ? "Sim" : "Nao")</p>
            }
        <p>
            <a asp-action="Index">Voltar ao Inicio</a>
        </p>
    </body>
</hhtml>